# datasets
data/**

# models / checkpoints
model/**

# logs
log/**

# 系统缓存
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 模型权重
*.pkl
*.pt

# 日志/压缩包
*.log
*.zip
*.rar
